<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Predict</h1>
    <form action="{{ url_for('predict_iris') }}" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.sepal_length.label }}<br>
            {{ form.sepal_length(size=32) }}
        </p>
        <p>
            {{ form.sepal_width.label }}<br>
            {{ form.sepal_width(size=32) }}
        </p>
        <p>
            {{ form.petal_length.label }}<br>
            {{ form.petal_length(size=32) }}
        </p>
        <p>
            {{ form.petal_width.label }}<br>
            {{ form.petal_width(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    {% if result %}
        <p>predict: {{result}}</p>
    {% endif %}
</body>
</html>